<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horse Power</title>
    <link rel="stylesheet" href="../Styles/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/styles.css">
    <link rel="stylesheet" href="../Styles/Product-styles.css">
    <link rel="stylesheet" href="../Styles/styles2.css">
    <link rel="icon" href="../Assets/android-icon-48x48.png">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg mx-5 px-5">
            <div class="container-fluid color-nav">
              <a class="navbar-brand logo-contenedor" href="#"><img class="logo" src="../Assets/logo.png" alt="Logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                <ul class="navbar-nav menu-item">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="Productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contacto.html">Contacto</a>
                  </li>
                </ul>
                <div class="mx-5 user">
                    <a href="#!">
                        <img src="../Assets/user-ejemplo.png" alt="avatar"
                            class="img-fluid user-circulo me-1">
                    </a>
                </div>
              </div>
            </div>
        </nav>
    </header>
    <main class="container-contacto">
        <div class="grid p-producto-principal">
            <div class="p-text-main">
                <div class="p-contenido">
                    <h1 class="p-titulo">ZAPATILLA NIKE TK-673</h1>
                    <h3 class="p-texto-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, repellat aperiam mollitia cum assumenda.</h3>
                    <div class="p-precio-contenerdor">
                        <h4 class="p-precio">$ 43.99</h4>
                        <div>
                            <button class="p-button-principal-producto">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-img-main p-imagen-principal">
                <div class="p-circulo-interior"></div>
                <div class="p-line-interior"></div>
                <img src="../Assets/shoes5.png" alt="zapatilla-principal">
            </div>
        </div>
        <div class="container-products">
            <hr>
            <div class="producs">
                <div class="listado-producto">
                    <div class="caja-producto a">
                        <img src="../Assets/shoes1.png" alt="producto">
                        <h3 class="texto-producto-producto">NOMBRE PRODUCTO</h3>
                        <div class="precio-caja">
                            <h4 class="precio">$ 40.50</h4>
                            <button class="boton">Comprar</button>
                        </div>
                    </div>
                    <div class="caja-producto b">
                        <img src="../Assets/shoes4.png" alt="producto">
                        <h3 class="texto-producto-producto">NOMBRE PRODUCTO</h3>
                        <div class="precio-caja">
                            <h4 class="precio">$ 40.50</h4>
                            <button class="boton">Comprar</button>
                        </div>
                    </div>
                    <div class="caja-producto c">
                        <img src="../Assets/shoes7.png" alt="producto">
                        <h3 class="texto-producto-producto">NOMBRE PRODUCTO</h3>
                        <div class="precio-caja">
                            <h4 class="precio">$ 40.50</h4>
                            <button class="boton">Comprar</button>
                        </div>
                    </div>
                    <div class="caja-producto d">
                        <img src="../Assets/shoes6.png" alt="producto">
                        <h3 class="texto-producto-producto">NOMBRE PRODUCTO</h3>
                        <div class="precio-caja">
                            <h4 class="precio">$ 40.50</h4>
                            <button class="boton">Comprar</button>
                        </div>
                    </div>
                    <div class="caja-producto e">
                        <img src="../Assets/shoes3.png" alt="producto">
                        <h3 class="texto-producto-producto">NOMBRE PRODUCTO</h3>
                        <div class="precio-caja">
                            <h4 class="precio">$ 40.50</h4>
                            <button class="boton">Comprar</button>
                        </div>
                    </div>
                    <div class="caja-producto h h-caja-producto">
                        <img src="../Assets/shoes8.png" alt="producto">
                        <h3 class="texto-producto-producto">NOMBRE PRODUCTO</h3>
                        <div class="precio-caja">
                            <h4 class="precio">$ 40.50</h4>
                            <button class="boton">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!---------------------------------------------- separador --------------->
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <ul class="nav col-md-3 justify-content-end list-unstyled d-flex footer-item">
            <li class="ms-3"><a class="text-muted" href="#"><img src="../Assets/instagram-logo.png" alt="Instagram"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a href="#"><img src="../Assets/tik-tok-logo.png" alt="Tiktok"><use xlink:href="#tiktok"></use></svg></a></li>
            <li class="ms-3"><a href="#"><img src="../Assets/twitter-logo.png" alt="Twitter"><use xlink:href="#twitter"></use></svg></a></li>
          </ul>

        <div class="col-md-3 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 Horse Power SAC</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>