
/*----------------*/
.left{
    right: 3rem;
}
.right{
    left: 3rem;
}
.texto-white h2{
    color: white;
    width: 44%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    margin: 2rem auto;
}
.texto-white p{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 6rem;
}
.container-contacto{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 6rem;
}
.container-total{
    background-color: #022039;
}
.form section{
    background: #043966;
    border-radius: 0 0 2rem 2rem;
}
/*-------*/
.fomulario{
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
    padding-bottom: 3.5rem;
}
.lad-izq label,.lad-der label{
    display: block;
    font-size: 20px;
    margin: 1.8rem 0 .5rem 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lad-izq input{
    background-color: #043966;
    color: white;
    width: 90%;
    border: solid white 3px;
    padding: .5rem;
    border-radius: 6px;
}
.lad-izq input::placeholder{ 
    color: white; 
}
.informacion-contacto{
    display: flex;
}
/*-------------------*/
.lad-der input{
    display: block; 
    width: 40%;   
    height: 4rem;
    margin-top: 2.4rem;
    position: relative;
    left: 56%;
    border: none;
    background-color: #34e690;
    color: #b3fad8;
    border-radius: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6rem;
    cursor: pointer;
}
textarea{
    background-color: #043966;
    width: 96%;
    color: white;
    border: solid white 3px;
    padding: .5rem;
    border-radius: 6px;
    height: 12rem;
}
.lad-der input:hover{
    background-color: #57E39F;
    color: white;
}
.header-form{
    width: 100%;
}
.titulo-contacto{
    color: #57E39F;
    position: relative;
    left: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    margin-top: 6rem;
}
.texto-contacto{
    position: relative;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3.4rem;
    left: 8rem;
}
.titulo-contacto-sup{
    color: #57E39F;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4.6rem;
    margin-top: 4rem;
}
.texto-contacto-sup{
    position: relative;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    margin-top: 3rem;
    left: 4rem;
    width: 70%;
}
/*----------------*/
/*-------------------------*/
.grid{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
    "imagen info";
    margin-bottom: 10rem;
}
.container-contacto{
    padding-top: 4rem;
}
.imagenTitulo{
    grid-area: imagen;
    width: 100%;
}
.info{
    grid-area: info;
}
@media only screen and (max-width: 1000px){
    .grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: 
        "imagen"
        "info";
    } 
    .titulo-contacto {
        color: #57E39F;
        position: relative;
        left: 1rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 4rem;
        margin-top: 6rem;
    }
    .texto-contacto {
        position: relative;
        color: white;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-size: 1.4rem;
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 3.4rem;
        left: 3rem;
    }
}
body{
    height: auto;
    overflow-x: hidden;
}
.grid-form{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
    "titulo"
    "formulario";
    margin-bottom: 10rem;
}
.header-form{
    grid-area: titulo;
    width: 100%;
}
.section-formulario{
    grid-area: formulario;
}
.grid-fomulario{
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
    "izq der";
}
.lad-izq{
    grid-area: izq;
}
.lad-der{
    grid-area: der;
    margin-top: -5rem;
}
@media only screen and (max-width: 1000px){
    .grid-fomulario{
        width: 90%;
        margin: 0 auto;
        height: auto;
        display: grid;
        align-items: center;
        grid-template-columns: 2fr;
        grid-template-rows: repeat(1,auto);
        grid-template-areas: 
        "izq"
        "der";
    }
    .lad-der{
        grid-area: der;
        margin-top: 1rem;
    }
    .container-contacto {
        padding-bottom: 2rem;
    }
    .lad-izq input {
        width: 96%;
    }
}